{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="main-section" style="height: 100vh;">
	<div class="page-section pt-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
					<div class="tabs-holder horizontal">
						<ul class="stickynav-tabs nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Cart Items</a></li>				
						</ul>
						<div class="tab-content">
							<div id="home" class="tab-pane in active">
								<div class="menu-itam-holder">	
									<div class="text-center p5" id="empty-cart" style="display: none;"> <h4>The Cart is Empty !</h4></div>
								
									<div id="menu-item-list-6272" class="menu-itam-list">	
										<ul>
										{% if cart_items %}	
										  {% for item in cart_items %}
											<li id="cart-item-{{item.id}}">
												<div class="image-holder"> 
													<a href="">
														<img src="{{ item.product.image.url }}" alt="">
													</a>
												</div>
												<div class="text-holder">
													<h6>{{ item.product }} &nbsp; &nbsp;  id: {{item.product.id}} </h6>
													<span style="word-wrap: break-word; max-width: 70%;"> {{ item.product.description }} </span>
													<a href="{% url 'vendor-detail' item.product.vendor.vendor_slug  %}" class="badge badge-warning">{{item.product.vendor}}</a>
												</div>
												<div class="price-holder">
													<span class="price">{{ item.product.price}} </span>
													<a 	href="#" class="decrease-cart" id="{{ item.id }}"  data-id="{{ item.product.id }}" data-url="{% url 'remove-cart-item' item.product.id %}"
													   	style="margin-right: 28px;" >
														<i class="icon-minus text-color"></i>
													</a>
													<label id="qty-{{item.product.id}}"> 0 </label> 
													<a href="#" class="add-to-cart" data-id="{{ item.product.id }}" data-url="{% url 'add-to-cart' item.product.id %}" >
														<i class="icon-plus4 text-color"></i>
													</a> 
													<a href="#" class="delete-cart-item" data-id="{{ item.id }}" data-url="{% url 'delete-cart-item' item.id %}" >
														<i class="icon-delete text-color"></i>
													</a> 
												</div>
											</li>
										  {% endfor %}										  
										{% else %}
										  <div class="text-center p5"> <h4>The Cart is Empty </h4></div>
										{% endif %}
										</ul>													
									</div>
								</div>
							</div>										
						</div>
					</div>
				</div>	

				<!--ORDER DETAILS -->
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="tabs-holder horizontal">
						<ul class="stickynav-tabs nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>				
						</ul>
						<div class="tab-content">
							<div id="home" class="tab-pane in active">
								<div class="menu-itam-holder">
									<div>
										<ul>
											<li style="list-style-type: none;">
												Subtotal
												<span class="price float-right">
													<span class="currency">£</span>
													<span id="subtotal"> {{ subtotal }} </span>
												</span>
											</li>
											{% for key, value in tax_dict.items %}
												{% for i, j in value.items %}
													<li style="list-style-type: none;">
														{{ key }} <small>({{ i }}%)</small>
														<span class="price float-right">
															<span class="currency">£</span>
															<span id="tax-{{ key }}"> {{ j }} </span>
														</span>
													</li>
												{% endfor %}
											{% endfor %}
											<li style="list-style-type: none; font-weight: 600;">
												TOTAL
												<span class="price float-right">
													<span class="currency">£</span>
													<span id="total"> {{ grandtotal }} </span>
												</span>
											</li>
											<hr>
											<a href="{% url 'checkout' %}" class="btn btn-success">PROCEED TO CHECKOUT</a>
										</ul>
									</div> 
								</div>
							</div>										
						</div>
					</div>
				</div>
			</div>  <!-- row end -->
		</div>
	</div>     
</div>

{% for item in cart_items %}
	<span id="qty-{{item.product.id}}" class="itemQty " data-qty="{{item.quantity}}"> {{item.quantity}} </span>
{% endfor %} 

{% endblock %}