{% extends 'base.html' %}

{% block content%}

<div class="main-section">
	<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 0px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<div class="user-dashboard loader-holder" >
						<div class="user-holder">
              <h4> You are not authorised to view this page </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






{% endblock %}
